.comment-form-top {
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/61/86/uzZq2M.jpg");
    width: 100%;
    min-height: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}