.flashcard-form-top {
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/61/86/uzZq2M.jpg");
    width: 100%;
    min-height: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
}


.flashcard-form {
    padding-top: 5%;
    margin: 0 0 0 35%;
    /* background-color: red; */
    height: 500px;
    width: 500px;
    /* justify-content: center; */

       width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
    
}

.flashcard-form-title-input {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgb(204, 204, 204);
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    width: 400px;
    outline: none;
    /* resize: none; */


   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

.flashcard-form-textarea {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgb(204, 204, 204);
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    width: 400px;
    outline: none;
    resize: none;


   position: absolute;
   left: 50%;
   top: 55%; 
   margin-left: -150px;
   margin-top: -150px;
}

.flashcard-form-submit {
    display: flex;
    margin: 1% 0 1% 24%;
    width: 250px;
    height: 50px;
    background-color: transparent;
    font-size: 18px;

    cursor: pointer;
    border-radius: 6px;
    font-family: Arial,Helvetica,sans-serif;
    /* color: rgb(214, 214, 214); */
    color: white;
    border-radius: 6px;
    border: 0;
    cursor: pointer;

    justify-content: center;

    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 13%);

   position: absolute;
   left: 50%;
   top: 80%; 
   margin-left: -80px;
   margin-top: -150px;
}