.nav-bar-box {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background: rgb(34,193,195);

}

.nav-bar-left {
    display: flex;
}

.nav-bar-title {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-bar-box button {

    width: 100px;
    padding: 10px;
    border-radius: 10px;
}