.splash-page-container{
  height:1000px;
}


.splash-deck-index{
  display: flex;
  flex-wrap: wrap;
  clear:both;
  overflow: scroll;
  position: relative;
  align-items: center;

  padding: 0 0 0 6%;

}

.splash-page-index-item{
  display: flex;
  /* background-image: url('https://water-seeds.s3.amazonaws.com/back.png'); */
  background-image: url('https://water-seeds.s3.amazonaws.com/deck2.jpg');
  width: 250px;
  height: 355px;
}

.splash-page-index-item a{
  text-decoration: none;
  width:inherit;

}

.splash-page-index-item p {

  width:250px;
  height:355px;
  padding-top: 175px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color:white;
}

.splash-page-header{
  font-size: 30px;
  padding-top: 100px;
}