.splash-page{
  max-height:fit-content;
  flex-direction: row;
  background-color: white;
}

/* splash header 1 */

.splash-header-1{
  width:500px;
  height: 500px;
  padding-top: 10%;
  padding-left: 10%;
}

.header-1-para{
  color: rgb(92, 92, 255);
  font-size: 50px;
}

.header-1-para p:last-child{
  color: rgb(0, 0, 255);
  font-size: 45px;
  font-weight: 1000;
}

.header-1-para-2{
  font-family: 'Courier New', Courier, monospace;
  padding-top: 25px;
  color: black;
  font-size: 25px;
}

.front-page-motto {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px !important;
}

.splash-header-1 .button-input{
  padding-top: 20px;
}

/* splash header 2 */

.splash-header-2{
  background-color: lightgrey;
  height: 500px;

}

.splash-header-2 h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 40px;
  color: rgb(92, 92, 255);
  padding-top: 100px;
  padding-bottom: 50px;
}

.splash-header-2-ul {
  padding-left: 30%;
  font-size: 20px;
}

.splash-header-2-ul li{
  font-family: 'Courier New', Courier, monospace;
  list-style: circle;
  padding: 10px;
}

.splash-head {
  display: flex;
  /* justify-content: space-between; */
}

.flashcard-frontpage-icon-container {
  padding-left: 20%;
  padding-top: 5%;
}

.flashcard-frontpage-icon {
  /* max-width: 70%;
  max-height: 70%; */
  display: flex;
}