/* .navbar{
  width: 100%;
  /* background-color: #61dafb; */
  /* position: fixed; */
  /* z-index: 10;
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Bundle { 
  display: flex;
  height: 760px;
  position: relative;
  padding-top: 64px;
}
.whole-div{
  background-color: #0B0C10;
  color:#66FCF1;
  
}
img{
  width: 80%
}

.bundle-box{
  padding: 0px;
  background-color: #0B0C10;
  flex: 2;
  min-width: 800px;
  /* flex-basis: 10%; */
}

.bundle-menu{
  background-color: #0B0C10;
  flex: 1;
  /* flex-basis: content; */
  min-width: 140px;
}
.bundle-stats{
  background-color: #0B0C10;
  flex: 1;
  min-width: 140px;

  /* flex-basis: content; */
  
}

.scorebox-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color:#45A29E

}

.App {
  text-align: center;
}


.footer{
  background-color: rosybrown;
  height: 500px;
  
}

.white{
  color:#66FCF1;
}

.black{
  color:#C5C6C7;
}

/* div{
  
} */

.red{
  color:#db2810
}

.Stats{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.fuse-box{
  padding: 0px;
  margin: 0px;
  height: 30px;
}

.box-input{
  margin-bottom: 200px;
  background-color: transparent;
}

.Text1{
  background-color: transparent;
  border-radius: 25px;
  height: 400px;
  width: 800px;
  border: none;
  color: transparent;
  background: #0B0C10 url("https://water-seeds.s3.amazonaws.com/type2.gif") no-repeat  center;
  /* background-image: ''; */
}



.Text1:focus {
  outline: none !important;
  border:1px solid transparent;
  box-shadow: 0 0 10px transparent;
}

.WrongSpace{
  background-color:rgb(241, 24, 9)
}

.footer-content{
  display: flex;
  justify-content: center;
}

.fuse{
  display: flex;
  flex-wrap:wrap ;
  font-family: 'Roboto', sans-serif;

  align-items:flex-start
}

.game{
  margin-top: 10px;
  display: flex;
  /* position: absolute; */
  margin-right: 5%;
  flex-wrap: wrap;
}
  


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
